h2 Table of Contents
//- ng-include accepts an expression. If the source is a string constant,
//- make sure to wrap it in single quotes.
div(ng-repeat="child in book.toc", ng-include="'partials/toc-1'")
//- ul
//-   li(ng-repeat="child in book.contents", ng-include="'partials/toc-1'")